:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #2F2F2F;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0;
  padding: 0;
}

.dice-wrapper {
  z-index: 9999;
  position: fixed;
  background: #fff;
  opacity: .8;
  top: 40px;
  right: -220px;

  width: 200px;
  height: 130px;
  padding: 20px;

  transition: .6s ease;
}

.dice-wrapper:hover {
  right: 0;
}

.dice-wrapper .shield {
  position: absolute;
  border-radius: 12px 0 0 12px;
  left:-20px;
  top: 0;
  height: 100%;
  background: #66b60c;
  width: 20px;
}

.dice-wrapper .shield span {
  transform: rotate(90deg);
  display: block;
  margin-top: 20px;
}

.dice-wrapper .shield strong {
  display: block;
  margin-top: 40px;
  margin-left: 4px;
}

.dice-wrapper .content {
  width: 100%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dice-wrapper .content .six {
  width: 75px;
  height: 75px;
  margin-bottom: 12px;
  border: 3px solid black;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dice-wrapper .content .six .dice p {
  color: black;
  font-size: 24px;
}

.dice-wrapper .content img {
  max-width: 90px;
}

.eight {
  position: relative;
}

.eight p {
  position: absolute;
  left: 37px;
  top: 8px;

  color: black;
  font-size: 24px;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  z-index: 200000;
}

#interface {

}

#top {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}

#bottom {
  position: fixed;
  left: 50%;
  width: 100%;
  height: 125px;
  transform: translateX(-50%);
  bottom: 0px;
  z-index: 222;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}

#actions {
  width: calc(20% - 24px);
  background-color: #EFF0F2;
  height: 224px;
  position: relative;

  transform: translateY(100px);
  /*bottom: -100px;*/
  transition: .3s ease;
  border-radius: 12px 12px 0 0;
  padding: 40px 20px;

  overflow: auto;

  color: #333;
}

#actions:hover {
  transform: translateY(0px);
}

#actions:before {
  content: "Действия";
  height: 24px;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  color: #fff;
  background-color: #C7AF6B;

  text-align: center;
  font-size: 12px;
  border-radius: 12px 12px 0 0;
}

.actions-empty p {
  font-size: 12px;
  color: #333;
}

.actions-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.actions-header p {
  font-size: 12px;
  line-height: 15px;
}

.actions-header img {
  width: 32px;
  height: auto;
}

.actions-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.action-menu-item {
  width: calc(25% - 14px);
}

.action-menu-item .icon {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;
}

.action-menu-item .icon:hover {
  background-color: #C7AF6B;
}

.action-menu-item .icon img {
  max-width: 40%;
  height: 40%;
  object-fit: contain;
}

#tabs {
  width: calc(60% - 24px);
  background-color: #EFF0F2;
  height: 100px;
}

#history {
  width: calc(20% - 24px);
  background-color: #EFF0F2;
  height: 224px;
  position: relative;

  transform: translateY(100px);

  transition: .3s ease;
  border-radius: 12px 12px 0 0;
  overflow: auto;
  padding: 40px 32px;
}

#history:hover {
  transform: translateY(0px);
}

#history:before {
  content: "История событий";
  height: 24px;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
  background-color: #C7AF6B;

  text-align: center;
  font-size: 12px;
  border-radius: 12px 12px 0 0;
}

.notification {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  gap: 16px;
}

.notification span {
  font-size: 12px;
  color: #333;
  opacity: .3;
}

.notification p {
  color: #333;
  font-size: 12px;
}

.begin-screen {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;


  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 2000;

  width: 100%;
  height: 100%;
}


.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 2000;

  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.preloader p {
  color: #333;
}

/*@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');*/

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 36px;
  width: 380px;
  height: auto;
  padding: 24px;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.2) 100%);
  box-shadow: 0 0 16px 0 rgba(0,0,0,0);
  transition: 0.4s ease height, 0.4s ease padding, 0.2s border-radius, 0.6s ease box-shadow;
}
.modal:hover {
  box-shadow: 0 24px 48px -24px rgba(0,0,0,0.025);
}

.modal.active {
  height: 160px;
  padding: 32px;
  border-radius: 48px;
}

.field-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.field {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /*   font-variation-settings: "wdth" 100; */
  font-size: 20px;
  display: flex;
  align-items: center;
  min-height: 48px;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 0 12px 2px 12px;
  background: none;
  color: #000;
  outline: none;
  transition: border 0.2s;
}
.active .field {
  border: 1px solid rgba(0,0,0,0.5);
}

.field::placeholder {
  opacity: 0.5;
  color: #000;
}

.sign, .signed-by {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.active .signed-by {
  opacity: 1;
}

.sign {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 8px;
  align-items: center;
  height: 44px;
  border-radius: 12px;
  padding: 0 14px 2px 12px;
  background: #000;
  color: #fff;
  border: none;
  opacity: 0.2;
  transition: 0.2s;

  cursor: pointer;
}
.active .sign {
  opacity: 1;
}

.tabs-list {
  display: flex;
}

.tab-item {
  height: 24px;
  /*width: 100%;*/
  background-color: #C7AF6B;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 0 24px;
  border-radius: 12px 12px 0 0;
  margin-top: -24px;
}

.tab-item.active {
  background-color: #EFF0F2;
  color: #333;
}

.users-list {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 6px 24px;
}

.user-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-item .user-logo {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
}

.user-item .user-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-item p {
  color: #333;
  font-size: 12px;
}


.resources-list {
  display: flex;
  width: 100%;
  overflow: auto;

  align-items: center;
  height: 64px;
  gap: 24px;

  padding: 8px 24px;
}

.resource-item {
  min-width: 98px;
  max-width: 98px;
  height: 52px;
  border-radius: 12px;
  background-color: #d4d4d4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.resource-item span {
  position: absolute;
  bottom: -5px;
  right: -5px;

  width: 24px;
  height: 24px;
  background-color: #C7AF6B;
  color: #fff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.resource-item img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.search {
  padding: 0 24px;
}

.search input {
  width: 100%;
  height: 16px;
  border-radius: 10px;
  padding: 0 12px;
  border: 1px solid #C7AF6B;
  outline: none;
}

.save-button span {
  color: #fff;
}

.save-button {
  background-color: #C7AF6B;
  border-radius: 4px;
  z-index: 22222;
  position: relative;
  padding: 8px 24px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
}

.save-button img {
  width: 24px;
}

.saver {
  padding: 32px;
  display: flex;
  gap: 16px;
}